{% extends "layout.html" %}
{% block body %}

<div class="welcome-text">
    <center>
        <h2><strong>MathSpaceTasks</strong> is the web server to solve MathSpace Tasks</h2>
        <p><strong>MathSpaceTasks</strong> computes 3 tasks using Python. <strong>MathSpaceTasks</strong> is an easy to use application.</p>
        <br> </br> <br> </br>
        <h2>Select the application</h2>
        <br> </br>
        <ul>
            <liBig><a href="app" class="roundBig green">TASK 1<span class="roundBig">Computes task 1 solution</span></a></liBig>
            <liBig><a href="app" class="roundBig yellow">TASK 2<span class="roundBig">Computes task 2 solution</span></a></liBig>
            <liBig><a href="app" class="roundBig red">TASK 3<span class="roundBig">Computes task 3 solution</span></a></liBig>
        </ul>
    </center>
</div>

{% endblock %}

