{% extends "layout.html" %}
{% block body %}
{% load staticfiles %}

<div class="col-md-10 col-sm-12 content-holder">
	<div id="menu-container">
		
		<div class="logo-holder logo-top-margin">
		<div class="welcome-text">
			<h2 ><strong><div class="accent-color"><i class="fa fa-cogs"></i>&nbsp;Help</strong></div></h2>
		</div>
		</div>
		
		<div class="visible-xs visible-sm responsive-menu">
			<div class="main-menu">
				<ul ><h7>
					<li>
						<a class="show-1 active infobutton" href="#"><i class="fa fa-info fa-2x"></i>&nbsp;About</a>
					</li>

					<li>
						<a class="show-2 sourcebutton" href="#"><i class="fa fa-github fa-2x"></i>&nbsp;Source</a>
					</li>

					<li>
						<a class="show-3 faqbutton" href="#"><i class="fa fa-question fa-2x"></i>&nbsp;FAQ</a>
					</li>
				</h7></ul>
			</div>
		</div>
						

		<div id="menu-1" class="homepage info-section">
			<div class="col-md-12 col-sm-12" align="justify">
				<div class="box-content">
					<h3 class="widget-title">About</h3>
                    <p>MathSpaceTasks is the web server to solve MathSpace Tasks. MathSpaceTaskscomputes 3 tasks using Python. MathSpaceTasks is an easy to use application.</p>
				</div>
			</div>
		</div>	


		<div id="menu-2" class="content source-section">
			<div class="col-md-12 col-sm-12">
				<div class="box-content">
					<h3 class="widget-title">Source Code</h3>                           
					<p>
					The source codes of SchistoTarget can be found on <a href="https://github.com/shihabhasan/mathspacetasks"><i class="fa fa-github fa-2x"></i>&nbsp;GitHub</a>.
					</p>		
				</div>
			</div>
		</div>
		

		<div id="menu-3" class="content faq-section">
			<div class="col-md-12 col-sm-12">
				<div class="box-content">
					<h3 class="widget-title">FAQ</h3>                           
					<p>
					Under prepartion ...
					</p>		
				</div>
			</div>
		</div>
		
		
	</div>
</div>	
		

	
<nav id="nav" class="main-navigation">
  <div class="col-md-1 hidden-sm hidden-xs">
	<ul class="main-menu">
		<li>
			<a class="show-1 active infobutton" href="#"><i class="fa fa-info"></i>About</a>
		</li>
		<li>
			<a class="show-2 sourcebutton" href="#"><i class="fa fa-github"></i>Source</a>
		</li>
	</ul>
  </div>
  <div class="col-md-1 hidden-sm hidden-xs">
	<ul class="main-menu">
		<li>
			<a class="show-3 faqbutton" href="#"><i class="fa fa-question"></i>FAQ</a>
		</li>
	</ul>
  </div>
</nav>
				
{% endblock %}

