{% extends "layout.html" %}
{% block body %}
{% load my_templatetags %}

<p>
A robot which can move down and right is traversing some terrain that can be represented as a hex grid. Find the
least cost path from top left to bottom right through such a grid. Return the path for the robot to follow.
</p>

<p>
<br>Sample input
<font face="Courier New">
<br>46B E59 EA C1F 45E 63
<br>899 FFF 926 7AD C4E FFF
<br>E2E 323 6D2 976 83F C96
<br>9E9 A8B 9C1 461 F74 D05
<br>EDD E94 5F4 D1D D03 DE3
<br>89 925 CF9 CA0 F18 4D2
</font>
</p>

<p>
<br>Sample output
<br>r,r,d,d,r,d,d,r,r,d
<br>Bonus: Consider allowing the robot to move up and left.
</p>

<div class="col-md-12">
<div class="call-action call-action-boxed call-action-style1 glass" style="centre">
    <h1 class="accent-color"> Task 1 solution </h1>

<h3>
<font face="Courier New">
    {% for line in result|split:";" %}
        <font face="Courier New">
        <br>{{ line }}

    {% endfor %}
</font>
</h3>
</div>




{% endblock %}

